// _movieInfo.scss
.mTitle {
  border-bottom: 1px solid; }

.btn-youtube {
  padding: 10px; }

.mTitle {
	border-bottom: 1px solid;
}
.mImg img{
	width: 100%;
}
.btn-youtube {
	padding:10px;
}
.fresh, .rotten {
    height: 20px;
    width: 20px;
}